html,body{
  width: 100%;
  margin: 0;

}
main{
  width: 100%;
  height: 300px;
  background: url("../images/contact/aHR0cDovLzVhMWQzNjljNjE1NzQudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxNy8xMi9lODEwZWI5MmUzYmU0MjM1OGUzOTgzNTMyMWZlODE4MS5qcGc_p_p100_p_3D.jpg") no-repeat;
  background-size: cover;
}
