html,
body {
  width: 100%;
  margin: 0;
}
main {
  width: 100%;
  height: 300px;
  background: url("../images/contact/aHR0cDovLzVhMWQzNjljNjE1NzQudDczLnFpZmVpeWUuY29tL3FmeS1jb250ZW50L3VwbG9hZHMvMjAxNy8xMi9lODEwZWI5MmUzYmU0MjM1OGUzOTgzNTMyMWZlODE4MS5qcGc_p_p100_p_3D.jpg") no-repeat;
  background-size: cover;
}
main > div {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  padding-top: 100px;
  box-sizing: border-box;
  position: relative;
}
main > div h2 {
  text-align: center;
  color: white;
  margin: 0 0 20px 0;
  font-weight: normal;
}
main > div span {
  text-align: center;
  color: gray;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
