html,
body {
  margin: 0;
  width: 100%;
}
main {
  width: 100%;
  background: rgba(33, 33, 33, 0.9);
  overflow: hidden;
  margin: 0 ;
}
main h2 {
  color: white;
  text-align: center;
  margin: 0 0 5px 0;
  font-weight: normal;
}
main h6 {
  color: gray;
  text-align: center;
  margin: 0 0 30px 0;
  font-weight: lighter;
}
main nav {
  width: 100%;
  height: 35px;
  margin-bottom: 30px;
}
main nav ul {
  width: 25%;
  height: 100%;
  margin: 0 auto;
  transform: translateX(20px);
}
main nav ul li {
  width: 20%;
  height: 100%;
  text-align: center;
  line-height: 35px;
  color: gray;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
}
main nav ul li:hover {
  background: grey;
  color: white;
}
main > div:not(1) .showBox {
  transform: translateY(270px);
  opacity: .5;
}
main > div {
  width: 60%;
  height: 800px;
  margin: 0 auto;
}
main > div .showBox {
  width: 29%;
  height: 30%;
  display: inline-block;
  margin: 15px;
  transform: translateY(200px);
}
main > div .showBox div {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
main > div .showBox > div {
  position: relative;
  opacity: 0;
  background: rgba(0, 0, 0, 0.85);
}
main > div .showBox > div .border {
  position: absolute;
  width: 98%;
  transition: all 0.5s ease-out;
  border: 1px solid white;
  box-sizing: border-box;
}
main > div .showBox > div .content {
  display: inline-block;
  width: 80%;
  height: 100%;
  padding-top: 50px;
  transition: all 0.8s ease-out;
  color: white;
  font-size: 12px;
}
main > div .showBox > div .content a {
  font-size: 15px;
  display: block;
  color: white;
  text-decoration: none;
}
main > div .showBox > div .content .day {
  display: block;
  color: gray;
  font-size: 10px;
}
main > div .showBox > div .content .text {
  line-height: 30px;
  display: block;
  width: 100%;
  margin: 0;
}
main > div .bbox1 {
  animation-delay: .1s;
}
main > div .bbox2 {
  animation-delay: .2s;
}
main > div .bbox3 {
  animation-delay: .3s;
}
main > div .bbox4 {
  animation-delay: .4s;
}
main > div .bbox5 {
  animation-delay: .5s;
}
main > div .bbox6 {
  animation-delay: .6s;
}
main > div .bbox7 {
  animation-delay: .7s;
}
main > div .bbox8 {
  animation-delay: .8s;
}
main > div .bbox9 {
  animation-delay: .9s;
}
main > div .showBox:hover > div {
  opacity: .8;
}
main > div .showBox:hover > div .border {
  transform: scale(0.88);
}
main > div .showBox:hover > div .content {
  transform: translateX(40px);
}
.active {
  animation: anime .3s linear forwards;
}
.change {
  background: grey;
  color: white;
}
.omg {
  opacity: 1;
  transform: translateY(-100px);
}
@keyframes anime {
  from {
    transform: translateY(270px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
