main {
  margin: 0;
  background: rgba(27, 27, 27, 0.9);
}
main div {
  box-sizing: border-box;
}
main > div {
  width: 70%;
  height: 700px;
  margin: 0 auto;
  padding: 50px 20px;
}
main > div .wrap {
  display: flex;
  justify-content: space-between;
  width: 45%;
  height: 40%;
  cursor: pointer;
}
main > div .wrap .msg {
  display: inline-block;
  width: 27%;
  height: 100%;
  background: #eeeeee;
}
main > div .wrap .msg img {
  width: 100%;
  height: 60%;
}
main > div .wrap .msg p {
  padding-left: 20px;
  margin: 10px 0 ;
}
main > div .wrap .msg p:last-child {
  color: lightgrey;
}
main > div .wrap .status {
  display: inline-block;
  width: 73%;
  height: 100%;
  padding-top: 100px;
}
main > div .wrap .status span {
  display: inline-block;
  width: 80%;
  height: 20px;
  color: lightgrey;
  transition: all .5s linear;
}
main > div .wrap .status div {
  display: inline-block;
  width: 0;
  height: 1px;
  transition: all .5s linear;
  border-top: 1px solid aliceblue;
  transform: translateY(-15px);
}
main > div .wrap:nth-child(1),
main > div .wrap:nth-child(2) {
  margin-bottom: 20px;
}
main > div .wrap:hover .status span {
  width: 60%;
  margin-left: 20px;
}
main > div .wrap:hover .status div {
  width: 20%;
}
main > div > .wrap:nth-child(odd) {
  float: right;
}
main section {
  width: 100%;
  height: 300px;
  background: url("../images/team/bg.jpg") no-repeat;
}
